/*================*/
/* Start Footer */
/*================*/

footer {
  background-color: var(--bodyFont);
  padding: 3cqi 0px;
}

footer p {
  color: white;
  text-align: center;
}

footer p span {
  font-weight: 700;
  color: var(--darkBlue);
}
