/*================*/
/*== General Css ==*/
/*================*/

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: system-ui, -apple-system, Roboto, sans-serif;
  box-sizing: border-box;
  scrollbar-color: #9e4673 #3d4a59;
  scroll-behavior: smooth;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Global css */

a,
button {
  all: unset;
  transition: 0.2s;
}

a:hover,
button:hover {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

/* ============================= */

/*================*/
/*== General CSS & Variables for this project ==*/
/*================*/

/* Color */

:root {
  --bodyBg: #f6f6f6;
  --bodyFont: #2b3445;
  --lightBlue: #9fc5ef;
  --darkRed: #e13c4c;
  --darkBlue: #0381d6;
}

/* .dark {
  --bodyBg: #2b3445;
  --bodyFont: #f6f6f6;
} */

body {
  background-color: var(--bodyBg);
  color: var(--bodyFont);
}

/* ============================= */
