.top-bg-img {
  background-image: url("/images/back.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

@media (width < 600px) {
  .top-bg-img {
    background-position: left;
  }
}

/*================*/
/* Start Hero */
/*================*/

.hero {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);

  margin-left: 10%;
}

.hero h1 {
  color: var(--bodyFont);
  text-transform: uppercase;
  font-size: 50px;
}

.hero h1 span {
  color: var(--darkRed);
}

.hero p:first-child {
  text-transform: uppercase;
  font-size: 30px;
}

.hero p {
  text-transform: capitalize;
  font-size: 20px;
}

.hero button {
  background-color: #292c3b;
  color: white;
  padding: 5px 15px;
  margin-top: 7px;
}

/* ============================= */

/*================*/
/* Start Recommended */
/*================*/

section.products {
  background-color: var(--bodyBg);
  padding: 1rem 10%;
}

.product-table {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.products h1 {
  margin: 20px 0px;
}

.product-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.product-title i {
  font-weight: 700;
  font-size: 25px;
}

.products .card {
  width: 270px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.205);
  transition: 0.4s;
}

.product-table .card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.34);
  transform: translateY(-5px);
}

.products .card .info {
  padding: 10px;
}

.products .card img {
  width: 100%;
  border-bottom: 1px solid #2b34453e;
}

.products .card .description {
  color: #555;
  line-height: 1.5;
  margin: 6px 0px;
}

.products .card .price {
  color: var(--darkRed);
  font-weight: 700;
}

.products .card button {
  padding: 5px 8px;
  background-color: var(--darkBlue);
  color: white;
  border-radius: 3px;
}

.products .card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ============================= */

/* Advanced Scrolling Stick Navbar */

.scrolling {
  position: fixed;
  right: 0;
  left: 0;

  background-color: var(--bodyFont);
  color: white;
  z-index: 10;

  & .sign-in,
  & .register {
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 12px;
    color: white;
  }

  & .sign-in:hover,
  & .register:hover,
  & .links .cart:hover {
    background-color: white;
    color: var(--darkBlue);
  }

  & .links .cart {
    border: 1px solid white;
  }

  & .logo,
  & .logo .desc-word,
  & .logo .web-logo {
    color: white;
  }
}

/* ============================= */
