.cart-page {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  text-align: center;
}

/*================*/
/* Edits On Header */
/*================*/

header {
  background-color: var(--bodyFont);
}

header .sign-in,
header .register {
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 12px;
  color: white;
}

header .sign-in:hover,
header .register:hover,
header .links .cart:hover {
  background-color: white;
  color: var(--darkBlue);
}

header .links .cart {
  background-color: var(--bodyFont);
  border: 1px solid white;
  color: white;
}

header .logo,
header .logo .desc-word,
header .logo .web-logo {
  color: white;
}

/* ============================= */

section.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
}

section.cart .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-top: 2px solid var(--darkBlue);
  background-color: white;
  max-width: 600px;
}

section.cart .product button i {
  color: brown;
  margin: 5px 40px;
}

section.cart .product .price {
  font-size: 18px;
  margin: 5px 0px;
}

section.cart .product .plusminus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 40px;
  gap: 8px;
  color: var(--darkBlue);
  font-weight: 700;
}

section.cart .product .plusminus .increment,
section.cart .product .plusminus .decrement {
  font-size: 25px;
}

section.cart .product .plusminus .quantity {
  background-color: var(--darkBlue);
  color: white;
  padding: 7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

section.cart .product .product-title {
  font-size: 18px;
  margin: 5px 0px;
}

section.cart .product img {
  width: 70px;
  margin: 5px 40px;
}

/* Clear Cart Button */

main .clear {
  background-color: brown;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 8px 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Summary Checkout */

main section.summary {
  background-color: white;
  width: 250px;
  margin: 25px auto;
}

main section.summary h2 {
  border-bottom: 1px solid var(--darkBlue);
  margin: 8px 0px;
  padding: 10px;
}

main section.summary .total {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--darkBlue);
  padding: 10px;
}

main section.summary .checkout {
  background-color: var(--darkBlue);
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  width: 100%;
  padding: 10px 0px;
}

main section.summary a {
  color: brown;
  margin-top: 10px;
}
